<% bookmarks.each do |bookmark| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-7">
        <%= link_to post_path(bookmark.post) do %>
          <%= image_tag bookmark.post.get_image(250,150), class: "card-img" %>
        <% end %>
      </div>
      <div class="card-body col-5">
        <div class="row">
          <div class="col-9">
            <h5><%= bookmark.post.spot %></h5>
          </div>
          <div class="col-3 bookmark_<%= bookmark.post.id %>">
            <%= render 'bookmarks/bookmark', post: bookmark.post %>
          </div>
        </div>
        <div class="row">
          <div class="col-auto d-flex flex-wrap">
            <% bookmark.post.tags.each do |tag| %>
              <li class="list-unstyled text-white bg-primary border border-primary rounded small me-1 mb-1">
                <%= link_to search_path(keyword: tag.name), class: "text-decoration-none link-light" do %>
                  #<%= tag.name %>
                <% end %>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>