<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6 bg-light rounded mx-auto">
      <h2 class="text-center pt-3">Sign up</h2>

      <%= form_with model: @user, url: user_registration_path do |f| %>
        <div class="form-floating my-3">
          <%= f.text_field :name, autofocus: true, placeholder: "名前", id: "floatingName", class: 'form-control' %>
          <%= f.label :name, for: "floatingName" %>
        </div>
        <% if @user.errors.include?(:name) %>
          <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:name).first %></span>
        <% end %>

        <div class="form-floating my-3">
          <%= f.email_field :email, autocomplete: "email", placeholder: "email", id: "floatingEmail", class: 'form-control' %>
          <%= f.label :email, for: "floatingEmail" %>
        </div>
        <% if @user.errors.include?(:email) %>
          <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:email).first %></span>
        <% end %>

        <div class="form-floating my-3">
          <%= f.text_field :address,  autocomplete: "address", placeholder: "東京都新宿区○○町", id: "floatingAddress", class: 'form-control' %>
          <%= f.label :address, "マップの中心にしたい住所", for: "floatingAddress" %>
        </div>
        <% if @user.errors.include?(:address) %>
          <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:address).first %></span>
        <% end %>

        <div class="form-floating my-3">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: 'form-control' %>
          <%= f.label :password, "パスワード（#{@minimum_password_length}文字以上）" %>
        </div>
        <% if @user.errors.include?(:password) %>
          <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:password).first %></span>
        <% end %>

        <div class="form-floating my-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード", id: "floatingPassword", class: 'form-control' %>
          <%= f.label :password_confirmation, "パスワード（確認用）", for: "floatingPassword" %>
        </div>
        <% if @user.errors.include?(:password_confirmation) %>
          <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:password_confirmation).first %></span>
        <% end %>

        <div class="actions d-grid">
          <%= f.submit "新規登録する", class: "btn btn-lg btn-dark" %>
        </div>
      <% end %>

      <p class="text-end mt-3"><%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>