<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <div class="row">
        <%= render 'posts/navbar' %>
      </div>
      <div class="row my-2">
        <div class="col-12 col-md-3 text-center">
          <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle border border-light shadow-sm" %>
        </div>
        <div class="col-12 col-md-9 mt-3">
          <div class="row text-light">
            <div class="col-12">
              <% if @user.is_deleted == false %>
                <div class="d-flex align-items-center">
                  <h3 class="me-1"><%= @user.name %></h3>
                  <%= render 'relationships/offcanvas' %>
                  <span class="ms-auto follow_<%= @user.id %>">
                    <%= render 'relationships/follow', user: @user %>
                  </span>
                  <% if @user == current_user && current_user.name != "ゲストユーザー" %>
                    <span class="h2 ms-auto">
                      <%= link_to edit_user_path(@user), class: "text-decoration-none text-primary" do %>
                        <i class="fas fa-user-cog"></i>
                      <% end %>
                    </span>
                  <% end %>
                </div>
                <p class="text-break pt-1"><%= @user.introduction %></p>
              <% else %>
                <h4 class="text-center">このユーザーは退会済みです。</h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-2 justify-content-center">
        <div id="map" class="user_map border border-light border-5 rounded"></div>
      </div>
    </div>

    <div class="col-md-12 col-lg-5">
      <div class="row">
        <h4 class="text-center text-light">投稿一覧</h4>
      </div>
      <div class="row mt-2">
        <div class="col-md-8 offset-md-2 col-lg-12 mx-auto user-posts-scroll">
          <%= render 'posts/index', posts: @posts %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'posts/map' %>