<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col">
          <%= form_with url: map_request_path, method: :get, local: false do |f| %>
            <%= f.text_field :address, placeholder: "住所で検索", class: "form-control rounded-pill" %>
          <% end %>
        </div>
        <div class="col text-center">
          <%= link_to "新規投稿", new_post_path, class: "btn btn-outline-dark rounded-pill w-100" %>
        </div>
        <div class="col text-center">
          <!--後でリンク変える-->
          <%= link_to "ブックマーク", root_path, class: "btn btn-outline-dark rounded-pill w-100" %>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-3">
          <%= image_tag @user.get_profile_image(150,150), class: "mx-auto rounded-circle" %>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-10">
              <div class="d-flex align-items-center">
                <h3><%= @user.name %></h3>
                <span class="ms-auto">
                  <% unless @user == current_user %>
                    <% if current_user.following?(@user) %>
                      <%= link_to user_relationships_path(@user), method: :delete, class: "btn btn-dark btn-sm rounded-pill" do %>
                        <i class="fa-solid fa-user-minus"></i>　フォローを外す
                      <% end %>
                    <% else %>
                      <%= link_to user_relationships_path(@user), method: :post, class: "btn btn-dark btn-sm rounded-pill" do %>
                        <i class="fa-solid fa-user-plus"></i>　フォローする
                      <% end %>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <p><%= @user.introduction %></p>
              <div class="row">
                <!--後でフォローフォロワーでオフキャンバス分ける・パーシャルにする-->
                <div class="col-3">
                  <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    フォロワー
                  </button>
                </div>
                <div class="col-3">
                  <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    フォロー中
                  </button>
                </div>
                <div class="offset-6"></div>
                <div class="offcanvas offcanvas-end"  tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                  <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel">フォロワー</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="閉じる"></button>
                  </div>
                  <div class="offcanvas-body">
                    フォロワー一覧表示させる
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <span class="h3">
                <% if @user == current_user %>
                  <%= link_to edit_user_path(@user), class: "text-decoration-none text-dark" do %>
                    <i class="fa-solid fa-user-gear"></i>
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2 justify-content-center">
        <div id="user_map"></div>
      </div>
    </div>
    <div class="col-3 border border-dark"></div>
  </div>
</div>

<script>
  let map

  function initMap() {
    goecoder = new google.maps.Geocoder()
    var test = {lat: gon.user.latitude, lng: gon.user.longitude};

    map = new google.maps.Map(document.getElementById('user_map'),{
      center: test,
      zoom: 15,
    });

    var contentString = '住所：<%= @user.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position: test,
      map: map,
      title: contentString
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>