<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6 bg-light rounded mx-auto">
      <h2 class="text-center my-3">Log in</h2>
      
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="form-floating mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", id: "floatingEmail", class: "form-control" %>
          <%= f.label :email, for: "floatingEmail" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", id: "floatingPassword", class: "form-control" %>
          <%= f.label :password, "パスワード", for: "floatingPassword" %>
        </div>

        <div class="actions d-grid">
          <%= f.submit "ログイン", class: "btn btn-lg btn-dark" %>
        </div>
      <% end %>
      
      <p class="text-end mt-3"><%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>