<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <ul id="tab-menu" class="list-unstyled list-group list-group-horizontal">
        <li class="flex-fill"><%= link_to "投稿", searchpost_path, class: "d-grid text-decoration-none btn btn-outline-light" %></li>
        <li class="flex-fill"><%= link_to "タグ", searchtag_path, class: "d-grid text-decoration-none btn btn-outline-light" %></li>
        <li class="flex-fill"><%= link_to "User", searchuser_path, class: "active d-grid text-decoration-none btn btn-outline-light" %></li>
      </ul>

      <div id="tab-contents">
        <div class="tab">
          <% if @user_result.present? %>
            <%= render 'users/index', users: @user_result %>
            <%= paginate @user_result, param_name: "user_page" %>
          <% else %>
            <p class="text-light">検索結果はありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>