<div class="container-fluid col-5 mx-auto mt-5">
  <div class="row">
    <%= form_with model: @post do |f| %>
      <div class="mb-3">
        <%= f.label :spot, "スポット" %>
        <%= f.text_field :spot, autofocus: true, placeholder: "スポット名を入力", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :caption, "キャプション" %>
      　<%= f.text_area :caption, placeholder: "紹介文を入力", class: 'form-control', rows: "3" %>
      </div>

      <div class="mb-3">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, placeholder: "住所を入力", class: 'form-control' %>
      </div>

      <div class="mb-4">
        <%= f.label :image, "画像" %>
        <%= f.file_field :image, accept: "image/*", class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :tag_name, "タグ（「,」で区切ると複数タグを登録できます）" %>
        <%= f.text_field :tag_name, value: @tag_list, placeholder: "タグを入力", class: "form-control" %>
      </div>

      <div class="d-grid">
        <%= f.submit "変更を保存", class: "btn btn-lg btn-dark" %>
      </div>
    <% end %>
    <!--後でカラー変更-->
    <div class="d-grid mt-3">
      <%= link_to "投稿を削除する", post_path(@post), method: :delete, data: { confirm: "投稿を削除しますか？"}, class: "btn btn-lg btn-danger" %>
    </div>
    <div class="d-grid mt-3">
      <%= link_to "保存せず終了", post_path(@post), class: "btn btn-lg btn-dark" %>
    </div>
  </div>
</div>