<%= form_with url: map_request_path, method: :get, local: false do |f| %>
  <%= f.text_field :address %>
  <%= f.submit '検索' %>
<% end %>


<div id="map"></div>

<style>
  #map {
    height: 600px;
    width: 600px;
  }
</style>

<!--<script>-->
<!--  let mapInstance-->

<!--  function initMap(){-->
<!--    mapInstance = new google.maps.Map(document.getElementById('map'), {-->
<!--    center: {lat: -34.397, lng: 150.644},-->
<!--    zoom: 8-->
<!--    });-->
<!--  }-->
<!--</script>-->
<script>
  let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.68123620000001, lng:139.7671248},
          zoom: 12,
      });


      <% @posts.each do |m| %>
          (function(){
          var contentString = "住所：<%= m.address %>";

          var marker = new google.maps.Marker({
              position:{lat: <%= m.latitude %>, lng: <%= m.longitude %>},
              map: map,
              title: contentString
          });

          })();
      <% end %>
      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
