<%= form_with model: @post do |f| %>
  <div>
    <%= f.label "スポット" %>
    <%= f.text_field :spot, autofocus: true %>
  </div>

  <div>
    <%= f.label "キャプション" %>
    <%= f.text_area :caption %>
  </div>

  <div>
    <%= f.label "住所" %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label "画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div>
    <%= f.submit "投稿" %>
  </div>
<% end %>
