<div class="container-fluid">
  <div class="row mx-auto">
    <div class="col-9">
      <div class="row mb-2">
        <div class="col-4">
          <div class="row">
            <p class="text-center">
              <%= link_to user_path(@post.user) do %>
                <%= image_tag @post.user.get_profile_image(150,150), class: "mx-auto rounded-circle" %>
              <% end %>
            </p>
          </div>
          <div class="row">
            <p class="h4 text-center text-light"><%= @post.user.name %></p>
          </div>
        </div>

        <div class="col-8">
          <div class="row text-light">
            <div class="col-10">
              <h3><%= @post.spot %></h3>
              <% @post.tags.each do |tag| %>
                <span class="text-light bg-dark border border-dark rounded small px-1">
                  #<%= tag.name %>
                </span>
              <% end %>
              <p class="text-break"><%= @post.caption %></p>
            </div>
            <div class="col-2">
              <% if @post.user == current_user && current_user.name != "ゲストユーザー" %>
                <span class="h3">
                  <%= link_to edit_post_path(@post), class: "text-decoration-none text-primary" do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                </span>
              <% end %>
              <%= render 'bookmarks/bookmark', post: @post %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div id='show_map' class="mx-auto border border-dark border-5 rounded"></div>
        </div>
        <div class="col-6">
          <%= image_tag @post.get_image(500,500), class: "rounded" %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <%= render 'post_comments/comment', post: @post, post_comment: @post_comment %>
    </div>
  </div>
</div>


<script>
  let map
  let post = gon.post

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('show_map'), {
      center: {lat: post.latitude, lng: post.longitude},
      zoom: 15,
      mapTypeControl: false,
      styles: [
        {
          featureType: 'all',
          elementType: 'labels',
          stylers: [
            {visibility: 'off'},
          ],
        },
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {visibility: 'inherit'},
          ],
        },
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {hue: '#0F222D'},
            {saturation : -70},
          ],
        }
      ]
    });

    (function(){
      var contentString = "住所：<%= @post.address %>";

      var marker = new google.maps.Marker({
        position:{lat: post.latitude, lng: post.longitude},
        map: map,
        title: contentString
      });
    })();
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>