<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-9">
      <div class="row my-2">
        <div class="col-12 col-md-3 text-center">
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.get_profile_image(150,150), class: "rounded-circle border border-light shadow-sm" %>
          <% end %>
          <p class="h4 text-center text-light mt-2"><%= @post.user.name %></p>
        </div>

        <div class="col-12 col-md-9 mt-3">
          <div class="row text-light">
            <div class="col-12">
              <div class="d-flex align-items-center">
                <h3><%= @post.spot %></h3>
                <div class="ms-auto bookmark_<%= @post.id %>">
                  <%= render 'bookmarks/bookmark', post: @post %>
                </div>
                <% if @post.user == current_user && current_user.name != "ゲストユーザー" %>
                  <span class="h2 ms-2">
                    <%= link_to edit_post_path(@post), class: "text-decoration-none text-primary" do %>
                      <i class="far fa-edit"></i>
                    <% end %>
                  </span>
                <% end %>
              </div>

              <%= render 'tags', post: @post %>

              <p class="text-break pt-1"><%= @post.caption %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-2 align-items-center justify-content-center">
        <div class="col-md-12 col-xl-5">
          <div id='show_map' class="border border-5 border-light rounded"></div>
        </div>
        <div class="col-md-12 col-xl-7 h-100">
          <%= image_tag @post.get_image(500,365), class: "border border-5 border-light rounded w-100 h-100" %>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-3">
      <div class="row">
        <h4 class="text-center text-light" id="comment_count">コメント（<%= @post.post_comments.count %>件）</h4>
      </div>
      <%= render 'post_comments/form',  post: @post, post_comment: @post_comment %>
      <div class="row comment-scroll" id="comments">
        <%= render 'post_comments/comment', post_comments: @post_comments %>
      </div>
    </div>
  </div>
</div>

<script>
  let map
  const post = gon.post

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('show_map'), {
      center: {lat: post.latitude, lng: post.longitude},
      zoom: 15,
      mapTypeControl: false,
      styles: [
        {
          featureType: 'all',
          elementType: 'labels',
          stylers: [
            {visibility: 'off'},
          ],
        },
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {visibility: 'inherit'},
          ],
        },
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {hue: '#0F222D'},
            {saturation : -70},
          ],
        }
      ]
    });

    let marker = new google.maps.Marker({
      position:{lat: post.latitude, lng: post.longitude},
      map: map,
      animation: google.maps.Animation.DROP
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>