<div class="container-fluid">
  <div class="row mx-auto">
    <div class="col-9">
      <div class="row mb-2">
        <div class="col-4">
          <div class="row">
            <p class="text-center"><%= image_tag @post.user.get_profile_image(150,150), class: "mx-auto rounded-circle" %></p>
          </div>
          <div class="row">
            <p class="h4 text-center"><%= @post.user.name %></p>
          </div>
        </div>

        <div class="col-8">
          <div class="row">
            <div class="col-10">
              <h3><%= @post.spot %></h3>
              <% @post.tags.each do |tag| %>
                <span class="text-white bg-dark border border-dark rounded small px-1">
                  #<%= tag.name %>
                </span>
              <% end %>
              <p class="text-break"><%= @post.caption %></p>
            </div>
            <div class="col-2">
              <span class="h3">
                <%= link_to edit_post_path(@post), class: "text-decoration-none text-dark" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
              </span>
              <% if @post.bookmarked_by?(current_user) %>
                <%= link_to post_bookmarks_path(@post), method: :delete do %>
                  <span class="h3"><i class="fa-solid fa-bookmark"></i></span>
                <% end %>
              <% else %>
                <%= link_to post_bookmarks_path(@post), method: :post do %>
                  <span class="h3"><i class="fa-regular fa-bookmark"></i></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div id='show_map' class="mx-auto border border-dark border-5 rounded"></div>
        </div>
        <div class="col-6">
          <%= image_tag @post.get_image(500,500), class: "rounded" %>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="row">
        <h4 class="text-center">コメント（<%= @post.post_comments.count %>件）</h4>
      </div>
      <div class="row my-2">
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: "3", placeholder: "コメントを入力", class: "form-control" %>
          <div class="d-grid">
            <%= f.submit "コメントを送信", class: "btn btn-dark" %>
          </div>
        <% end %>
      </div>
      <% @post.post_comments.each do |comment| %>
        <div class="row pb-2 d-flex align-items-start border-bottom">
          <div class="col-2 pt-2">
            <%= image_tag comment.user.get_profile_image(50,50), class: "rounded-circle" %>
          </div>
          <div class="col-10 pt-2">
            <p class="text-break">
              <strong class="h5"><%= comment.user.name %></strong>
              <%= comment.comment %>
              <% if comment.user == current_user %>
                <%= link_to "削除", post_post_comment_path(comment.post, comment), method: :delete,  data: { confirm: "コメントを削除しますか？"}, class: "btn btn-danger btn-sm" %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('show_map'), {
        center: {lat: gon.post.latitude, lng: gon.post.longitude},
        zoom: 12,
      });

      (function(){
        var contentString = "住所：<%= @post.address %>";

        var marker = new google.maps.Marker({
          position:{lat: gon.post.latitude, lng: gon.post.longitude},
          map: map,
          title: contentString
        });
      })();
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
