<%= form_with model: [ :admin, user ] do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :name, autofocus: true, placeholder: "名前", id: "floatingName", class: 'form-control' %>
    <%= f.label :name, for: "floatingName" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_area :introduction, placeholder: "自己紹介", id: "floatingTextarea", class: "form-control" %>
    <%= f.label :introduction, "自己紹介", for: "floatingTextarea" %>
  </div>

  <div class="form-floating mb-3">
    <%= f.text_field :address, placeholder: "住所", id: "floatingAddress", class: "form-control" %>
    <%= f.label :address, "住所", for: "floatingAddress" %>
  </div>

  <div class="btn-group mb-3 d-flex justify-content-center">
    <%= f.radio_button :is_deleted, false, class: "btn-check", id: "success-outlined", autocomplete: "off" %>
    <%= f.label :is_deleted, "有効", value: false, for: "success-outlined", class: "btn btn-outline-success" %>
    <%= f.radio_button :is_deleted, true, class: "btn-check", id: "danger-outlined", autocomplete: "off" %>
    <%= f.label :is_deleted, "退会", value: true, for: "danger-outlined", class: "btn btn-outline-danger" %>
  </div>

  <div class="d-grid">
    <%= f.submit "変更を保存", class: "btn btn-lg btn-dark" %>
  </div>
<% end %>