<div class="container-fluid col-8 mx-auto mt-5">
  <div class="row">
    <div class="col-6 card" id="user_<%= @user.id %>">
      <%= render 'show', user: @user %>
    </div>
    <div class="col-6 card">
      <div class="card-body">
        <h3 class="mb-3 card-title">User編集</h3>
        <%= form_with model: [ :admin, @user ], local: false do |f| %>
          <div class="form-floating my-3">
            <%= f.text_field :name, autofocus: true, placeholder: "名前", id: "floatingName", class: 'form-control' %>
            <%= f.label :name, for: "floatingName" %>
          </div>
          <div id="name_error">
            <% if @user.errors.include?(:name) %>
              <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:name).first %></span>
            <% end %>
          </div>

          <div class="form-floating my-3">
            <%= f.text_area :introduction, placeholder: "自己紹介", id: "floatingTextarea", class: "form-control" %>
            <%= f.label :introduction, "自己紹介", for: "floatingTextarea" %>
          </div>

          <div class="form-floating my-3">
            <%= f.text_field :address, placeholder: "住所", id: "floatingAddress", class: "form-control" %>
            <%= f.label :address, "住所", for: "floatingAddress" %>
          </div>
          <div id="address_error">
            <% if @user.errors.include?(:address) %>
              <span class="text-danger"><i class="fas fa-exclamation-circle"></i><%= @user.errors.full_messages_for(:address).first %></span>
            <% end %>
          </div>

          <div class="btn-group my-3 d-flex justify-content-center">
            <%= f.radio_button :is_deleted, false, class: "btn-check", id: "success-outlined", autocomplete: "off" %>
            <%= f.label :is_deleted, "有効", value: false, for: "success-outlined", class: "btn btn-outline-success" %>
            <%= f.radio_button :is_deleted, true, class: "btn-check", id: "danger-outlined", autocomplete: "off" %>
            <%= f.label :is_deleted, "退会", value: true, for: "danger-outlined", class: "btn btn-outline-danger" %>
          </div>

          <div class="d-grid">
            <%= f.submit "変更を保存", class: "btn btn-lg btn-dark" %>
          </div>
        <% end %>
        <div class="d-grid mt-3">
          <%= link_to "User一覧へ戻る", admin_users_path, class: "btn btn-lg btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
</div>