<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-6 py-2 bg-light rounded">
      <h3 class="my-3">Users</h3>
      <%= link_to "全ユーザー", admin_users_path, class: "btn btn-dark btn-sm rounded-pill" %>
      <%= link_to "有効中ユーザー", admin_users_path(status: "有効"), class: "btn btn-success btn-sm rounded-pill" %>
      <%= link_to "退会済ユーザー", admin_users_path(status: "退会"), class: "btn btn-danger btn-sm rounded-pill" %>

      <div class="table-responsive">
        <table class="table table-borderless table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <%= link_to edit_admin_user_path(user), class: "text-dark" do %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td><%= user.email %></td>
                <% if user.is_deleted == true %>
                  <td class="text-danger font-weight-bold">退会</td>
                <% else %>
                  <td class="text-success font-weight-bold">有効</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>