<div class="container-fluid col-8 mx-auto mt-5">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <h3 class="mb-5">User情報</h3>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tr>
            <td><strong>Name</strong></td>
            <td class="ps-3"><%= @user.name %></td>
          </tr>
          <tr>
            <td class="text-nowrap"><strong>自己紹介</strong></td>
            <td class="ps-3 text-break"><%= @user.introduction %></td>
          </tr>
          <tr>
            <td><strong>住所</strong></td>
            <td class="ps-3"><%= @user.address %></td>
          </tr>
          <tr>
            <td><strong>ステータス</strong></td>
            <% if @user.is_deleted == true %>
              <td class="ps-3 text-danger font-weight-bold">退会</td>
            <% else %>
              <td class="ps-3 text-success font-weight-bold">有効</td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <h3 class="mb-5">User編集</h3>
      <%= render 'edit', user: @user %>
      <!--後でカラー変更-->
      <div class="d-grid mt-3">
        <%= link_to "User一覧へ戻る", admin_users_path, class: "btn btn-lg btn-dark" %>
      </div>
    </div>
  </div>
</div>