<div class="container-fluid">
  <div class="row justify-content-end pt-2">
    <% if user_signed_in? && current_user.name != "ゲストユーザー" %>
      <div class="col-1 offset-8">
        <% if current_user.admin? %>
          <%= link_to "管理者用", admin_users_path, class: "btn neon-btn rounded-pill" %>
        <% end %>
      </div>
      <%= render 'searches/form' %>
    <% end %>
  </div>

  <div class="row d-flex align-items-center justify-content-center text-center py-4">
    <% if user_signed_in? %>
      <div class="col">
        <%= link_to "Users", users_path, class: "btn neon-btn rounded-pill" %>
      </div>
      <div class="col">
        <%= link_to "Map", posts_path, class: "btn neon-btn rounded-pill" %>
      </div>
      <div class="col">
        <h1>
          <%= link_to "POSPOT", root_path %>
        </h1>
      </div>
      <div class="col">
        <%= link_to "Profile", user_path(current_user), class: "btn neon-btn rounded-pill" %>
      </div>
      <div class="col">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn neon-btn rounded-pill" %>
      </div>
    <% else %>
      <div class="col">
        <%= link_to "About", about_path, class: "btn neon-btn rounded-pill" %>
      </div>
      <div class="col">
        <%= link_to "Top", root_path, class: "btn neon-btn rounded-pill" %>
      </div>
      <div class="col">
        <h1>
          <%= link_to "POSPOT", root_path %>
        </h1>
      </div>
      <div class="col">
        <%= link_to "Sign up", new_user_registration_path, class: "btn neon-btn rounded-pill" %>
      </div>
      <div class="col">
        <%= link_to "Log in", new_user_session_path, class: "btn neon-btn rounded-pill" %>
      </div>
    <% end %>
  </div>
</div>
